:root{
  --mainBlue:#2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #e6e6ff;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --digiWhite1: #fdfdfd;
  --digiBG1: #1d1b24;
  --digiNav1: #302a76;
}
body{
  font-family: 'Roboto', sans-serif !important;
  /* font-family: 'Ubuntu', sans-serif; */

  /* background: var(--mainWhite) !important; */
  background: var(--digiBG1) !important;
  color: var(--mainWhite) !important;
}
.text-title{
  font-family: 'Ubuntu', sans-serif; 
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}
.btn-black{
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover{
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}